<h1 class="page-header">Payments</h1>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Payment Number</th>
        <th scope="col">Payment Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment For</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Date</td>
        <td>1000</td>
        <td>Rent</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Date</td>
        <td>1000</td>
        <td>Rent</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Date</td>
        <td>1000</td>
        <td>Rent</td>
      </tr>

    </tbody>
  </table>
</div>