<div class="container">
  <div class="row">
    <div class="col-md text-center">
      <img class="img-fluid user-home-mk-logo z-depth-1" src="../img/masterkey.png" alt="MasterKey | Logo" />
    </div>
  </div>

  <!-- Default form contact -->
  <form class="text-center border border-dark p-5 service-request-form">
    <p class="h4 mb-4">Service Request</p>

    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name" />

    <!-- Email -->
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail" />

    <!-- Subject -->
    <label class="h4 mb-4">Tell us about the problem</label>
    <select class="browser-default custom-select mb-4">
      <option value="" disabled selected>Choose option</option>
      <option value="1">Electrical</option>
      <option value="2">Plumbing</option>
      <option value="3">Windows & Doors</option>
      <option value="4">AC & Heat</option>
      <option value="4">Appliances</option>
      <option value="4">Other</option>
    </select>

    <!-- Message -->
    <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="4"
        placeholder="Message"></textarea>
    </div>

    <!-- Copy -->
    <div class="custom-control custom-checkbox mb-4">
      <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy" />
      <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div>

    <!-- Send button -->
    <button class="btn btn-block service-submit-btn" type="submit">
      Send
    </button>
  </form>
  <!-- Default form contact -->
</div>